
*.db

*.ipch

*.opendb

*.db-shm

*.vsidx

*.lock

*.db-wal

Proyecto-SistemaBancario/.vs/Proyecto-SistemaBancario/v17/.suo

*.obj

*.recipe

*.ilk

*.log

*.tlog

*.lastbuildstate

*.idb

*.pdb

*.exe

Proyecto-SistemaBancario/Proyecto-SistemaBancario/Proyecto-SistemaBancario.vcxproj

Proyecto-SistemaBancario/Proyecto-SistemaBancario/Proyecto-SistemaBancario.vcxproj.filters
